<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

<title>jwt-登录</title>

<script th:src="@{/static/js/jquery.min.js}"></script>
</head>

<body class="gray-bg">
	<div class="middle-box text-center loginscreen  animated fadeInDown">
		<div style="padding: 20px 0px;">
			<div class="l-logo" style="min-height: 150px;">
				<img th:if="${logo != 'none'}" th:src="${'/static/img/'+logo+'.png'}" style="width: 400px;" />
			</div>
			<br>
			<h2>智能仓储管理系统</h2>
			<br />
			<h4 style="color: red;" th:text="|${tips==null?'':tips+'!'}|"></h4>
			<div id="upLogin">
				<form class="m-t" role="form" method="post">
					<div class="form-group">
						<input type="text" name="loginName" class="form-control"
							placeholder="用户名" required=""></input>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control"
							placeholder="密码" required=""></input>
					</div>
					<div th:if="${kaptchaOpen}" class="form-group" style="float: left;">
						<div class="col-sm-8"
							style="padding-left: 0px; padding-right: 0px;">
							<input class="form-control" type="text" name="kaptcha"
								placeholder="验证码" required=""></input>
						</div>
						<div class="col-sm-4"
							style="padding-left: 0px; padding-right: 0px;">
							<img src="/kaptcha" id="kaptcha" width="100%" height="100%" />
						</div>
					</div>
					<!-- <div class="form-group" style="float: left;">
						<div class="checkbox" style="text-align: left">
							<label> <input type="checkbox" name="remember" style="margin-top: 2px;" />记住我
							</label>
						</div>
					</div> -->
					<button type="submit" class="btn btn-primary block full-width m-b"
						style="margin-top: 5px; margin-left: 0px">登录</button>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			$("#kaptcha").on(
					'click',
					function() {
						$("#kaptcha").attr('src',
								'/kaptcha?' + Math.floor(Math.random() * 100))
								.fadeIn();
					});
		});
		$(".form-group").css("margin-top", "5px");

		function changeloginModel(model) {
			if (model == '1') {
				$("#upLogin").show();
				$("#upSpan").removeClass("login-style-quiet").addClass(
						"login-style-active");
				$("#faceLogin").hide();
				$("#faceSpan").removeClass("login-style-active").addClass(
						"login-style-quiet");
			} else {
				$("#upLogin").hide();
				$("#upSpan").removeClass("login-style-quiet").addClass(
						"login-style-active");
				$("#faceLogin").show();
				$("#faceSpan").removeClass("login-style-active").addClass(
						"login-style-quiet");
			}
		}
	</script>
</body>
</html>
